{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}
{% block page_title %}Please sign in{% endblock %}

{% block page_content %}

    {% if app.user %}
        <div class="col-12 text-center">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% else %}
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class="col-12 text-center">
                <div class="col-8 offset-1 text-left">
                    <label for="inputEmail" class="sr-only">Email</label>
                </div>
                <div class="col-10 offset-1 fill-in-width">
                    <input type="email" value="{{ last_username }}" name="email"
                           id="inputEmail" class="form-control" placeholder="Email"
                           required autofocus
                    >
                </div>
                <div class="col-8 offset-1 text-left">
                    <label for="inputPassword" class="sr-only">Password</label>
                </div>
                <div class="col-10 offset-1 fill-in-width">
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                </div>
            </div>
            <div class="col-8 offset-2 text-left">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
            <div class="col-8 offset-2 text-right">
                <button class="btn" type="submit">Sign in</button>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        </form>
    {% endif %}
{% endblock %}
