{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block page_title %}Home{% endblock %}

{% block page_content %}

    <div class="col-12">
        <div class="col-12 row flex-column align-items-center">
            <div class="col-12 row flex-row align-content-around" style="align-items: flex-end;">
                <div class="col-xs col-md-4 text-center">
                    <svg id="i-home" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="48" height="48" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                        <path d="M12 20 L12 30 4 30 4 12 16 2 28 12 28 30 20 30 20 20 Z" />
                    </svg>
                    <p>{{ house.name }}</p>
                </div>
                {% for key, habitant in house.habitants %}
                    <div class="col text-center">
                        <svg id="i-user-{{ key }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="24" height="24" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                            <path d="M22 11 C22 16 19 20 16 20 13 20 10 16 10 11 10 6 12 3 16 3 20 3 22 6 22 11 Z M4 30 L28 30 C28 21 22 20 16 20 10 20 4 21 4 30 Z" />
                        </svg>
                        <p>{{ habitant.name ? habitant.name : habitant.email }}</p>
                    </div>
                {% endfor %}
            </div>
            <hr style="width: 100%">
            <div class="col-xs col-md-12 text-center">
                {% if house.menu is not empty %}
                    <div class="col-12 bg-1" style="height: 70px;padding: 20px;">
                        <a href="{{ path('menu_home', {menu: house.menu}) }}" class="app-link">
                            <div class="col-3 text-center"></div>
                            <div class="col-9 text-center">
                                <h4  style="display:flex; justify-content: flex-start; align-items: center;">

                                    <svg id="i-calendar" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                        <path d="M2 6 L2 30 30 30 30 6 Z M2 15 L30 15 M7 3 L7 9 M13 3 L13 9 M19 3 L19 9 M25 3 L25 9" />
                                    </svg>
                                    <span style="margin-left: 30px">Menu</span>
                                </h4>
                            </div>
                        </a>
                    </div>
                {% else %}
                    <div class="col-12 bg-1" style="height: 70px;padding: 20px;">
                        <a href="{{ path('menu_new') }}" class="app-link">
                            <div class="col-3 text-center"></div>
                            <div class="col-9 text-center">
                                <h4  style="display:flex; justify-content: flex-start; align-items: center;">
                                    <svg id="i-plus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                        <path d="M16 2 L16 30 M2 16 L30 16" />
                                    </svg>
                                    <span style="margin-left: 30px">Menu</span>
                                </h4>
                            </div>
                        </a>
                    </div>
                {% endif %}
                <hr>
                <div class="col-12 bg-2" style="height: 70px;padding: 20px;">
                    <a href="{{ path('freezer_home') }}" class="app-link">
                        <div class="col-3 text-center"></div>
                        <div class="col-9 text-center">
                            <h4  style="display:flex; justify-content: flex-start; align-items: center;">
                                <svg id="i-archive" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                    <path d="M4 10 L4 28 28 28 28 10 M2 4 L2 10 30 10 30 4 Z M12 15 L20 15" />
                                </svg>
                                <span style="margin-left: 30px">Freezer</span>
                            </h4>
                        </div>
                    </a>
                </div>
                <hr>
                <div class="col-12 bg-3" style="height: 70px;padding: 20px;">
                    <a href="{{ path('recipe_home') }}" class="app-link">
                        <div class="col-3 text-center"></div>
                        <div class="col-9 text-center">
                            <h4  style="display:flex; justify-content: flex-start; align-items: center;">
                                <svg id="i-book" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                    <path d="M16 7 C16 7 9 1 2 6 L2 28 C9 23 16 28 16 28 16 28 23 23 30 28 L30 6 C23 1 16 7 16 7 Z M16 7 L16 28" />
                                </svg>
                                <span style="margin-left: 30px">Recipes</span>
                            </h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
