{% extends 'base.html.twig' %}

{% block title %}Day{% endblock %}


{% block page_title %}
    {{ date | date('Y-m-d') }}
{% endblock %}

{% block page_content %}
    <p>What do you plan to eat ?</p>
    {% for form in forms %}
        <div class="col-sm text-center">
            {{ form_start(form) }}
            <h3>{{ form.vars.data.type }}</h3>
            {{ form_widget(form) }}
            <input type="submit" value="OK">
            {% if form.vars.data.id is not null %}
                <a href="{{ path('menu_meal_delete', {id: form.vars.data.id}) }}">X</a>
            {% endif %}
            {{ form_end(form) }}
        </div>
    {% endfor %}
    <p>
        <a href="{{ path('menu_home') }}">Go back</a>
    </p>
{% endblock %}
