{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block page_title %}Week{% endblock %}

{% block page_content %}

    {{ form_start(form) }}
        <div class="container">
            <div class="row flex-direction-column align-items-center">
                {% for i, day in form.days %}
                    <div
                            class="
                        col-xs
                        col-sm-8
                        col-md-6
                        tile
                        full-width
                        {{ (i is even) ? 'light-bg' : '' }}
                    "
                            style="flex-direction: column; justify-content: center">
                        <div class="col-12 text-left underlined">
                            <h4>{{ day.vars.data.date | date('l Y-m-d') }}</h4>
                        </div>
                        {% for meal in day.meals %}
                            <div class="col-12 text-left">
                                <h5>{{ meal.vars.data.type | capitalize }}</h5>
                            </div>
                            <div class="col-12 text-center fill-in-width">
                                {{ form_row(meal.description) }}
                            </div>
                        {% endfor %}
                        <div class="col-sm text-right">
                            <input type="submit" value="Validate" class="btn">
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.addEventListener( "load", function () {
            const XHR = new XMLHttpRequest();
            // Define what happens on successful data submission
            XHR.addEventListener("load", function (event) {
                console.log(event.target.responseText);
            });

            // Define what happens in case of error
            XHR.addEventListener("error", function (event) {
                console.error('Menu update was not successful, check out server logs for more info');
            });

            // Access the form element...
            let form = document.querySelector('form[name="planning"]');
            let inputValueOnFocus ='';

            inputs = document.querySelectorAll('input[type="text"]');
            for (input of inputs) {
                input.addEventListener('focus', function(event) {
                    inputValueOnFocus = this.value.trim();
                });

                input.addEventListener('blur', function(event) {
                    val = this.value.trim();

                    if (val !== inputValueOnFocus) {
                        console.log('changed');
                        const FD = new FormData(document.querySelector('form[name="planning"]'));

                        // Set up our request
                        XHR.open("POST", "{{ path('menu_home') }}");
                        XHR.setRequestHeader('X-Requested-With', 'XMLHttpRequest');

                        // The data sent is what the user provided in the form
                        XHR.send(FD);
                    }
                });
            }

        });
    </script>
{% endblock %}
